* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f0f4ff;
  min-height: 100vh;
  color: #1e293b;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f4ff;
}

::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 10px;
}
